{% extends "./backend/pages/base.html" %}
{% block title %} Games{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="/css/games.css?v={{version}}" rel="stylesheet">
{% endblock %}
{% block app %}
<div class="page">
<header>
<h1 > Available Games</h1>
{% if games|length > 0 %}
<nav><span class="filter clickable">All</span> | <span style="color: brown" class="filter clickable">Open</span> | <span class="filter clickable">Won</span></nav>
{% endif %}
</header>
<main class="game-list">
{% for g in games %}
    <a class="game shadowed {{g.status}}" href="/games/{{g.id}}">
        <div class="ribbon"><span>{{g.status}}</span></div>
        <img src="/images/simoncolor.png">
        <div class="game-bottom">
            {{g.name}}
        </div>
    </a>
{% else %}
    <div class="no-games">No available games :(</div>
{% endfor %}
</main>
<footer>
    <form method="POST" action="/games">
        <h3>New Game</h3>
        <label>Name:<input type="text" name="name" required></label>
        <input type="submit" class="clickable" value="Create" />
    </form>
</footer>
</div>
{% endblock %}